/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: "PressStart2P", Papyrus, fantasy;
    --font-weight-card: 400;
    --color-font: #000000;
    --border-color: rgba(0, 0, 0, 1);
    --background__content-color: #fff;
    --background__image: repeating-linear-gradient(to bottom, rgb(231, 231, 231) 0px 2px, transparent 2px 4px), repeating-linear-gradient(to left, rgb(231, 231, 231) 0px 2px, transparent 2px 4px),
  linear-gradient(rgb(255, 255, 255) 5%, rgb(26, 26, 26, 0.5) 35%, rgb(26, 26, 26, 0.5) 50%);
    --button-text-color: #ffffff;
    --hidder__button-color: #000;
    --watermark-color: rgb(255, 255, 255, 1);
    --card-font: "Inter", Arial, Helvetica, sans-serif;
    --heart__sparks-color: #FF0000; /**/
    --heart__contour-color: #000; /**/
    --padding-right: 0;
    --font-weight-bold: 700;
    --background-color: rgb(255, 255, 255, 1);
    --font-weight-main: 400;
}